.text-glitch {
  font-weight: bold;
  color: yellow;
  text-shadow: -4px -4px 0 deeppink, 4px 4px 0 yellow, 4px 4px 20px yellow,
    -4px -4px 20px deeppink, 0px 0px 20px yellow;
  position: relative;
}
.text-glitch span {
  position: absolute;
  top: 0;
  left: 0;
}
.text-glitch span:first-of-type {
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  z-index: -1;
  animation: text-glitch steps(1) 3s infinite;
}

.text-glitch span:last-of-type {
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  animation: text-glitch steps(1) 2.3s infinite;
}
@keyframes text-glitch {
  0% {
    transform: translate(0px);
  }
  55% {
    transform: translate(0px) skew(20deg);
  }
  60% {
    transform: translateX(8px);
    color: transparent;
  }
  65% {
    transform: translate(0px, 8px);
    color: cyan;
  }
  90% {
    transform: translate(8px, 8px) skew(-10deg);
    color: #23232b;
  }
  100% {
    transform: translate(8px, 8px);
    color: inherit;
  }
}
