:root {
  --bg-default: rgb(255, 255, 255);
  --bg-secondary: rgb(236, 234, 234);
  --text-default: rgb(80, 80, 78);
  --text-highlight: darkcyan;
  --text-dark: rgb(100, 100, 100);
  --border-default: #eee;
}

[data-theme="dark"] {
  --bg-default: rgb(0, 0, 0);
  --bg-secondary: rgb(35, 35, 35);
  --text-default: darkcyan;
  --text-highlight: rgb(255, 187, 69);
  --text-dark: rgb(100, 100, 100);
  --border-default: #444;
}
